<!DOCTYPE html>
<html>
    <head>
        <title>Upload file</title>

        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="input-container">
            <h1 class="text-center">Upload file</h1>
            <div id="data-input">
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fileInput">File link</label>
                        <input type="text" class="form-control" id="fileInput" name="file_url" oninput="unlockUpload()" placeholder="Enter file link">
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary btn-block" onclick="showLoader()" disabled>Upload</button>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <div id="loader" class="spinner-border" role="status" hidden>
                    <span class="visually-hidden"></span>
                </div>
            </div>
            {% if message %}
                <div class="alert alert-success" role="alert">
                        <h4 class="text-center">Upload success!</h4>
                        {{ message.vps }}<br>
                        VPS IP: {{ message.vps_ip }}<br>
                        Upload time: {{ message.upload_time }}<br>
                        Upload date: {{ message.upload_date }}<br>
                        File link: <a href="{{ message.file_link }}">{{ message.file_link }}</a>
                        <button class="btn btn-success btn-block mt-2" onclick="downloadFile()">Download</button>
                </div>
            {% elif error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function unlockUpload() {
                document.getElementById('submit').disabled = false
            }
            function showLoader() {
                document.getElementById('data-input').hidden = true;
                document.getElementById('loader').hidden = false;
            }

        function downloadFile() {
            var start_time = new Date().getTime();  // Запам'ятовуємо початковий час

            // Виконуємо завантаження файлу
            $.ajax({
                url: '/download/',  // URL для скачування файла на Flask сервері
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    'file_name': "{{ message.file_name if message else '' }}",
                    'vps': "3.75.230.137"
                }),
                xhrFields: {
                    responseType: 'blob'  // Отримуємо відповідь як blob (binary large object)
                },
                success: function(data) {
                    var end_time = new Date().getTime();  // Запам'ятовуємо кінцевий час
                    var download_time = (end_time - start_time) / 1000;  // Визначаємо час скачування в секундах

                    var url = window.URL.createObjectURL(data);
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = '{{ message.file_name if message else "" }}';  // Назва файлу, який скачуємо
                    document.body.appendChild(a);
                    a.click();

                    console.log('File downloaded in ' + download_time + ' seconds');
                }
            });

        }
        </script>

    </body>
</html>


